@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  .boatImage {
    height: rem-calc(104);
    width: rem-calc(104);
    border-radius: rem-calc(5);
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
