@use '@/styles/settings/variables' as *;
@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: rem-calc(48);
  border-radius: rem-calc(10);
  border: rem-calc(2) dashed $black-200;
  transition:
    background-color $animation-duration-fast ease,
    border-color $animation-duration-fast ease;
  cursor: pointer;

  &.active {
    border-color: $blue-500;
  }

  &:hover {
    border-color: $black-950;
  }
}
